.movieCard{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    width: 154px; 
    background-color: #1d2a35;
}

.info{
    text-align: center;
    width: 100%;
    color: white;
}

.movieTitle{
    font-weight: bold;
}

.stats{
    display: flex;
    justify-content: space-between;
}

.rating{
    display: flex;
}

.views{
    display: flex;
}

.viewNumber{
    display: flex;
}