.movieCard{
    display: flex;
    flex-direction: column;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movieLink{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 154px; 
    min-height: 285px;
    background-color: #1d2a35;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.movieCard:hover{
    transform: translateY(-8px);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.poster{
    border-radius: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    width: 100%;
    color: white;
}

.info .movieTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex: 1;
}