.movieCard{
    width: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movieCard:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

.movieLink{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow: hidden;
    height: 204px;
    border-radius: 7px 7px 0 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    background-color: #1E2035;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);

}

.movieLink:hover{
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.795);
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0 0 5px;
    height: 100%;
}

.movieTitle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-weight: bold;
    font-size: 14px;
}

.statsWrapper{
    padding: 0 10px;
}

.FavoriteBtnWrapper{
    display: flex;
    justify-content: center;
    width: 35%;
    height: 20px;
    background-color: #1E2035;
}

@media(min-width: 460px){
    .movieCard{
        width: 154px;
    }
    .movieLink{
        height: 285px;
    }
    .movieTitle{
        font-size: 15px;
    }
}