.favoriteBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-style: solid none none none;
    border-width: 2px;
    border-color: #2e3150;
    background-color: #1E2035;
}
