.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a3a3d4;
    font-size: 12px;
}

.stats .rating, .stats .votes{
    display: flex;
}

@media(min-width: 460px){
    .stats{
        font-size: 14px;
    }
}
