.stats{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    color: rgb(197, 189, 189);
}

.stats .rating, .stats .views{
    display: flex;
}

.statsWrapper{
    width: 154px;
}