.searchWrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon{
    position: absolute;
    margin-left: 10px;
}

.searchInput{
    border-style: none;
    padding: 10px 10px 10px 35px;
    border-radius: 20px;
    width: 45vw;;
}

.searchInput:focus-visible {
    outline: rgb(255, 255, 255) auto 1px;
}